*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1.5;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    font-family: Poppins, serif;
    background-color: #FAFAFA;
}

.wrapper {
    min-height: 120%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.wrapper>main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1251px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*----ШАПКА----------------------------------------------------------*/
.header {}

.header__body {
    width: 100%;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    width: 185px;
}

.menu__list {
    margin-left: 266px;
}

.menu__list a {
    color: #000;
}

.menu__list a:hover {
    text-decoration: underline;
}

.menu__items {
    display: flex;
    gap: 75px;

}

.menu__icons {
    display: flex;
    margin-left: 158px;
    margin-right: 100px;
    gap: 45px;
}

/*----MAIN PAGE----------------------------------------------------------*/
.page {}

.page__content {
    position: absolute;
    z-index: 50;
    left: 740px;
    top: 328px;
    max-width: 643px;
    padding: 60px 40px;
    background-color: #FFF3E3;
    border-radius: 10px;
}

.page__label {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 3px;
    color: #333333;
    margin-bottom: 4px;
}

.page__title {
    font-weight: 700;
    color: #B88E2F;
    font-size: 52px;
    margin-bottom: 17px;
}

.page__text {
    font-weight: 500;
    color: #333333;
    font-size: 18px;
    margin-bottom: 46px;
}

.page__button {
    width: 222px;
    height: 74px;
    background-color: #B88E2F;
    display: inline-block;
    padding: 25px 72px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}
.page__button:hover{
    background-color: #d8bb79;
}

.page__cover {}

.page__cover img {
    width: 100%;
}

/*-----------------------RANGE---------------------------------------*/
.page__range {}

.range__container {}

.range__body {
    margin-bottom: 56px;
}

.range__header {
    margin-top: 56px;
    margin-bottom: 62px;
    text-align: center;
}

.range__title {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
}

.range__subtitle {
    color: #666666;
    font-weight: 400;

}

.range__body-images {}

.range__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.range__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-weight: 600;
    font-size: 24px;
}

.range__text {}

/*-----------------------PRODUCTS---------------------------------------*/
.page__products {
    margin-bottom: 69px;
}

.products__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0px 0px 32px 0px;
}

.products__row {
    display: flex;
    flex-wrap: wrap;
    /* gap: 32px; */
    justify-content: space-between;
}

.products__row:not(:last-child) {
    margin-bottom: 32px;
}

.products__item {
    /*flex: 0 0 285px;*/
    position: relative;
    width: 286px;
    height: 446px;
    overflow: hidden;
    transition: all 0.3s ease 0s;

}

.products__item--hover-box {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.5;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}
.hover__button a{
    padding: 12px 59px;
    background-color: #fff;
    color: #B88E2F;
font-weight: 600;
position: absolute;
}


/* .products__item:hover{
    opacity: 0.33;
    
} */

.products__item:hover .products__item--hover-box{
    display: flex;
}

.products__image {}

.products__image img {
    width: 285px;
    height: 301px;
}

.product__descr {
    background-color: #F4F5F7;
    padding-top: 16px;
    padding-left: 15px;
    padding-bottom: 30px;
}

.product__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.product__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #898989;
}

.product__price {}

.current-price {
    margin-right: 16px;
}

.old-price {
    text-decoration: line-through;
    color: #B0B0B0;
}

.button {
    text-align: center;
    margin-top: 32px;
}

.product__button {
    display: inline-block;
    color: #B88E2F;
    padding: 12px 80px;
    border: 1px solid #B88E2F;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.product__button:hover {
    background-color: #c6a65b;
    color: #fff;
}
/*-----------------------ROOMS---------------------------------------*/
.page__rooms {
    background-color: #FCF8F3;
}
.rooms__body {
    padding-top: 44px;
    padding-bottom: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1440px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.rooms__content {
    margin-left: 100px;
    margin-right: 42px;

}
.rooms__content-body{
    margin-bottom: 25px;
}
.rooms__title {
color: #3A3A3A;
font-size: 40px;
font-weight: 700;
line-height: 1.2;
text-align: left;
margin-bottom: 7px;

}
.room__text {
    color: #616161;
    font-weight: 500;
    line-height: 1.5;
    

}
.room__button {
    display: inline-block;
    padding: 12px 36px;
    background-color: #B88E2F;
    color: #FFFFFF;
    width: 176px;
    height: 48px;
    
}
.room__button a{
    color: #FFFFFF;
    padding: 12px 36px;

    
}
.rooms__slider {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.slider-item {
    position: relative;
}
.slider-caption {
    width: 217px;
    height: 130px;
    display: flex;
    position: absolute;
    left: 24px;
    bottom: 24px;
    background-color: #FFFFFFB8;
}
.caption__text span{
   color: #616161;
   margin-bottom: 8px;
   text-align: center;
   
}
.caption__text h4{
    color: #3A3A3A;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
}


.arrow-link {
}

/*-----------------------FOOTER---------------------------------------*/
.footer {
}

.nav__menu {
    margin-top: 48px;
}
.nav__items {
    display: flex;
    justify-content: space-between;
}
.nav__item {
}


.footer__menu-items {
    display: flex;
}
.footer__adress {
}
.adress__item {
}


.footer__menu-links {
}
.footer__menu-link {
}


.menu__newsletter {
}
.footer__input {
}
.footer__button {
}


.footer__copy {
}